<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIR" value="logs/stock-service"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Kalcutta} %highlight(%-5level) --- [%t] %highlight(%C{1}) :
                %highlight(%m%n)
            </pattern>
        </encoder>
    </appender>

    <appender name="logicLogging" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/stock-service-${hostname}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archived/stock-service-${hostname}-%d{yyyy-MM-dd, Asia/Kalcutta}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Kalcutta} %5p --- %C{1} : %m%n</pattern>
        </encoder>
    </appender>

    <!--    <include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <root name="logicLogging" level="info">
        <appender-ref ref="logicLogging"/>
    </root>

    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>
